<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <h1>Views sharing a Model</h1>
  <p>
  This is a simple example that shows how to build views that share a single model.<br>
  You can edit any view and it updates all others via the shared model.
  </p>  
  <div id="application"></div>
  
  <script type="text/javascript" data-main="application" src="../../lib/require.js"></script>
</body>
</html>