
#application {
  width: 600px;
  height: 600px;
  overflow: visible;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
}
#application > div {
  display: table-cell;
  float: none;
  margin: 0;
  overflow:visible;
  vertical-align: top;
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
}

#faq-topics {
  width: 30%;
}
#faq-topics .wrap {
  margin-right: 15px;
  height: 100%;
}
#faq-topics h2 {
  margin: 16px;
}

#faq-topics li h3 {
  display: block;
  border-top: 1px solid #ccc;
  padding: 0.5em 0 0.5em 16px;
  color: #a5a5a5;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}
#faq-topics li h3.active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ededed 100%);
  color: black;
}
#faq-topics li h3:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
}
#faq-topics li:first-child h3 {
  border: none;
}

#faq-posts {
  width: 70%;
  padding: 16px;
}

#faq-posts ul#posts {
  margin-left: 0;
}
#faq-posts ul#posts li {
  padding-left: 40px;
  background: url('images/faq-dropbutton-closed.png') no-repeat 11px 0px;
  list-style-type: none;
}
#faq-posts ul#posts li {
  min-height: 20px;
  margin-bottom: 1em;
}
#faq-posts ul#posts li.closed h3 {
  cursor: pointer;
}
#faq-posts ul#posts li.closed h3:hover {
  color: #7c969c;
}
#faq-posts ul#posts li.closed p {
  display: none;
}
#faq-posts ul#posts li.open {
  background-image: url(images/faq-dropbutton-open.png);
}
#faq-posts ul#posts li.open h3 {
  font-weight: bold;
  margin-bottom: 1em;
}
#faq-posts h3 {
  padding-top: 2px;
  font-size: 14px;
}
#faq-posts p {
  font-size: 12px;
  line-height: 1.3em;
  margin-bottom: 1em;
}

.box {
  -moz-box-shadow: #cccccc 0px 0px 6px 0;
  -webkit-box-shadow: #cccccc 0px 0px 6px 0;
  -o-box-shadow: #cccccc 0px 0px 6px 0;
  box-shadow: #cccccc 0px 0px 6px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #FFF;
}