
#application {
  width: 600px;
  height: 600px;
  overflow: visible;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 30px auto;
}
#application > div {
  display: table-cell;
  float: none;
  margin: 0;
  overflow:visible;
  vertical-align: top;
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-indent: 0;
}

.addButton {
  border: 1px solid #10A60F;
  padding: 2px;  color: #10A60F;
}

.addButton:hover {
  background: #DAF7DA;
  cursor: pointer;
}

#faq-topics {
  width: 40%;
}

#faq-topics .addButton {
  margin: 0 0 1em 15px;
}

#faq-topics .wrap {
  margin-right: 15px;
  height: 100%;
}
#faq-topics h2 {
  margin: 16px 0 1em 15px;
}


#faq-topics li {
  padding-left: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#faq-topics li.active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ededed 100%);
  cursor: default;
}

#faq-topics li.active h3 {
  color: black;
}

#faq-topics li:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
}

#faq-topics li h3 {
  display: block;
  padding: 0.5em 0 0.5em 0;
  color: #a5a5a5;
  margin: 0;
  font-size: 14px;
}

#faq-topics input[type='text'] {
  border: none;
  background: none;
}

#faq-topics ul:first-child {
  border: none;
}

.menu .save {
  border: 1px solid #333;
  color: black;
  cursor: pointer;
}

.menu .save:hover {
  background: #DAF7DA;
}

#faq-posts {
  width: 60%;
  padding: 16px;
}

#faq-posts ul {
  margin-left: 0;
}
#faq-posts ul li {
  padding-left: 40px;
  background: url('images/faq-dropbutton-closed.png') no-repeat 11px 0px;
  list-style-type: none;
  min-height: 20px;
  margin-bottom: 1em;
}

#faq-posts .menu {
  float: right;
}

#faq-posts li h3 {
  cursor: pointer;
  padding-top: 2px;
  font-size: 14px;
}
#faq-posts li h3:hover {
  color: #7c969c;
}
#faq-posts li p {
  display: none;
}
#faq-posts li.active p {
  display: block;
  font-size: 12px;
  line-height: 1.3em;
  margin-bottom: 1em;
}
#faq-posts li.active {
  background-image: url(images/faq-dropbutton-open.png);
}
#faq-posts li.active h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

.box {
  -moz-box-shadow: #cccccc 0px 0px 6px 0;
  -webkit-box-shadow: #cccccc 0px 0px 6px 0;
  -o-box-shadow: #cccccc 0px 0px 6px 0;
  box-shadow: #cccccc 0px 0px 6px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #FFF;
}

.menu {
  font-size: 0.7em;
}

a.delete:link, a.delete:visited {
  color: red;
  text-decoration: none;
}

a.delete:hover {
  font-weight: bold;
  text-decoration: underline;
}

a.edit:link, a.edit:visited {
  color: #2E2F2F;
  text-decoration: none;
}

a.edit:hover {
  font-weight: bold;
  text-decoration: underline;
}
